<div
  [ngClass]="{ active: common.toggleSidebar.value }"
  class="w-64 sidebar lg:relative absolute z-[111111] h-full border-r border-slate-200"
>
  <div class="h-full overflow-y-auto px-8 py-4 bg-white">
    <ul class="p-2">
      <li
        class="text-gray-500 text-lg p-2 cursor-pointer font-semibold"
        *ngFor="let i of menus"
      >
        <a href="">{{ i.lable }}</a>
      </li>
    </ul>
  </div>
</div>
<div
  class="backdrop"
  [ngClass]="{ active: common.toggleSidebar.value }"
  (click)="common.toggle()"
></div>
